body {
    background-color:khaki;
    text-align:center;
}

h1{
    font-style:oblique;
}

.numero { 
    text-decoration: underline;
    text-decoration-thickness: auto;
    font-size:large;
    color:darkblue
}