body {
    background-color:goldenrod;
    text-align:center;
}

h1{
    font-style:oblique;
}

.numero { 
    text-decoration: underline;
    text-decoration-thickness: auto;
    font-size:larger;
    color:darkblue;
}